<a href="https://colab.research.google.com/github/thellamsneha13/sneha-thellam-repository/blob/main/MongoDB_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pymongo

In [ ]:
sneha=pymongo.MongoClient("mongodb://sneha13:snehathellam@cluster0-shard-00-00.qp3en.mongodb.net:27017,cluster0-shard-00-01.qp3en.mongodb.net:27017,cluster0-shard-00-02.qp3en.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-l0s33q-shard-0&authSource=admin&retryWrites=true&w=majority")

In [ ]:
print(sneha.list_database_names())

['Telephone_Directory', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sneha', 'test', 'admin', 'local']

# TELEPHONE DIRECTORY

In [ ]:
db=sneha["Telephone_Directory"]

In [ ]:
a=db["Directory"]

In [ ]:
a.insert_one({"name":"sneha","number":9982345233,"location":"palamaner","state":"Andhra Pradesh","gender":"female","age":23})

In [ ]:
a.insert_many([{"name":"karthik","number":8522338911,"location":"piler","state":"Andhra Pradesh","gender":"male","age":18},{"name":"kamal","number":9980045113,"location":"bangalore","state":"Karnataka","gender":"male","age":35},{"name":"aruna","number":9222348276,"location":"chennai","state":"Tamil Nadu","gender":"female","age":46},{"name":"lakshmi","number":9881145003,"location":"vellore","state":"Tamil Nadu","gender":"female","age":21},{"name":"renu","number":9896740031,"location":"hosure","state":"Karnataka","gender":"female","age":23},{"name":"ramu","number":9485366232,"location":"puttur","state":"Andhra Pradesh","gender":"male","age":56},{"name":"smit","number":9423645220,"location":"hyderabad","state":"Telangana","gender":"male","age":22},{"name":"srija","number":9980095999,"location":"hyderabad","state":"Telangana","gender":"female","age":22},{"name":"lokesh","number":9444346888,"location":"munnar","state":"Kerala","gender":"male","age":27},{"name":"deepthi","number":9982347266,"location":"mysore","state":"Karnataka","gender":"female","age":35},{"name":"dinesh","number":9482345233,"location":"chittoor","state":"Andhra Pradesh","gender":"male","age":38},{"name":"govind","number":9885545001,"location":"kurnool","state":"Andhra Pradesh","gender":"male","age":52},{"name":"aravind","number":8548967231,"location":"khammam","state":"Telangana","gender":"male","age":30},{"name":"anand","number":8576345290,"location":"adhilabad","state":"Telangana","gender":"male","age":29},{"name":"neelima","number":7888974200,"location":"nellore","state":"Andhra Pradesh","gender":"female","age":18},{"name":"chandana","number":9811315744,"location":"chennai","state":"Tamil Nadu","gender":"female","age":38},{"name":"charan","number":9783161120,"location":"tirupati","state":"Andhra Pradesh","gender":"male","age":23},{"name":"sowmya","number":987863252,"location":"coimbatore","state":"Tamil Nadu","gender":"female","age":40}])

In [ ]:
for i in a.find({"location":"piler"},{"_id":0}):
  print(i)

{'name': 'karthik', 'number': 8522338911, 'location': 'piler', 'state': 'Andhra Pradesh', 'gender': 'male', 'age': 18}

In [ ]:
#Modify Records with CRUD 
#update_one method
a.update_one({"location":"piler"},{"$set":{"location":"chittoor"}})

In [ ]:
for i in a.find({"location":"chittoor"},{"_id":0}):
  print(i)

{'name': 'karthik', 'number': 8522338911, 'location': 'chittoor', 'state': 'Andhra Pradesh', 'gender': 'male', 'age': 18}
{'name': 'dinesh', 'number': 9482345233, 'location': 'chittoor', 'state': 'Andhra Pradesh', 'gender': 'male', 'age': 38}

In [ ]:
for i in a.find({"state":"Kerala"},{"_id":0}):
  print(i)

{'name': 'lokesh', 'number': 9444346888, 'location': 'munnar', 'state': 'Kerala', 'gender': 'male', 'age': 27}

In [ ]:
# delete_one methon
a.delete_one({"state":"Kerala"})

In [ ]:
for i in a.find({"state":"Kerala"},{"_id":0}):
  print(i)

# STUDENT INFORMATION

In [ ]:
import pymongo
import json
import pandas as pd
from pymongo import MongoClient, InsertOne
import numpy as np

In [ ]:
from google.colab import files
files.upload()

Saving students.json to students.json

{'students.json': b'{"_id":0,"name":"aimee Zank","scores":[{"score":1.463179736705023,"type":"exam"},{"score":11.78273309957772,"type":"quiz"},{"score":35.8740349954354,"type":"homework"}]}\n{"_id":1,"name":"Aurelia Menendez","scores":[{"score":60.06045071030959,"type":"exam"},{"score":52.79790691903873,"type":"quiz"},{"score":71.76133439165544,"type":"homework"}]}\n{"_id":2,"name":"Corliss Zuk","scores":[{"score":67.03077096065002,"type":"exam"},{"score":6.301851677835235,"type":"quiz"},{"score":66.28344683278382,"type":"homework"}]}\n{"_id":3,"name":"Bao Ziglar","scores":[{"score":71.64343899778332,"type":"exam"},{"score":24.80221293650313,"type":"quiz"},{"score":42.26147058804812,"type":"homework"}]}\n{"_id":4,"name":"Zachary Langlais","scores":[{"score":78.68385091304332,"type":"exam"},{"score":90.2963101368042,"type":"quiz"},{"score":34.41620148042529,"type":"homework"}]}\n{"_id":5,"name":"Wilburn Spiess","scores":[{"score":44.87186330181261,"type":"exam"},{"score":25.72395114668016,"type":"quiz"},{"score":63.42288310628662,"type":"homework"}]}\n{"_id":6,"name":"Jenette Flanders","scores":[{"score":37.32285459166097,"type":"exam"},{"score":28.32634976913737,"type":"quiz"},{"score":81.57115318686338,"type":"homework"}]}\n{"_id":7,"name":"Salena Olmos","scores":[{"score":90.37826509157176,"type":"exam"},{"score":42.48780666956811,"type":"quiz"},{"score":96.52986171633331,"type":"homework"}]}\n{"_id":8,"name":"Daphne Zheng","scores":[{"score":22.13583712862635,"type":"exam"},{"score":14.63969941335069,"type":"quiz"},{"score":75.94123677556644,"type":"homework"}]}\n{"_id":9,"name":"Sanda Ryba","scores":[{"score":97.00509953654694,"type":"exam"},{"score":97.80449632538915,"type":"quiz"},{"score":25.27368532432955,"type":"homework"}]}\n{"_id":10,"name":"Denisha Cast","scores":[{"score":45.61876862259409,"type":"exam"},{"score":98.35723209418343,"type":"quiz"},{"score":55.90835657173456,"type":"homework"}]}\n{"_id":11,"name":"Marcus Blohm","scores":[{"score":78.42617835651868,"type":"exam"},{"score":82.58372817930675,"type":"quiz"},{"score":87.49924733328717,"type":"homework"}]}\n{"_id":12,"name":"Quincy Danaher","scores":[{"score":54.29841278520669,"type":"exam"},{"score":85.61270164694737,"type":"quiz"},{"score":80.40732356118075,"type":"homework"}]}\n{"_id":13,"name":"Jessika Dagenais","scores":[{"score":90.47179954427436,"type":"exam"},{"score":90.3001402468489,"type":"quiz"},{"score":95.17753772405909,"type":"homework"}]}\n{"_id":14,"name":"Alix Sherrill","scores":[{"score":25.15924151998215,"type":"exam"},{"score":68.64484047692098,"type":"quiz"},{"score":24.68462152686763,"type":"homework"}]}\n{"_id":15,"name":"Tambra Mercure","scores":[{"score":69.1565022533158,"type":"exam"},{"score":3.311794422000724,"type":"quiz"},{"score":45.03178973642521,"type":"homework"}]}\n{"_id":16,"name":"Dodie Staller","scores":[{"score":7.772386442858281,"type":"exam"},{"score":31.84300235104542,"type":"quiz"},{"score":80.52136407989194,"type":"homework"}]}\n{"_id":17,"name":"Fletcher Mcconnell","scores":[{"score":39.41011069729274,"type":"exam"},{"score":81.13270307809924,"type":"quiz"},{"score":97.70116640402922,"type":"homework"}]}\n{"_id":18,"name":"Verdell Sowinski","scores":[{"score":62.12870233109035,"type":"exam"},{"score":84.74586220889356,"type":"quiz"},{"score":81.58947824932574,"type":"homework"}]}\n{"_id":19,"name":"Gisela Levin","scores":[{"score":44.51211101958831,"type":"exam"},{"score":0.6578497966368002,"type":"quiz"},{"score":93.36341655949683,"type":"homework"}]}\n{"_id":20,"name":"Tressa Schwing","scores":[{"score":42.17439799514388,"type":"exam"},{"score":71.99314840599558,"type":"quiz"},{"score":81.23972632069464,"type":"homework"}]}\n{"_id":21,"name":"Rosana Vales","scores":[{"score":46.2289476258328,"type":"exam"},{"score":98.34164225207036,"type":"quiz"},{"score":36.18769746805938,"type":"homework"}]}\n{"_id":22,"name":"Margart Vitello","scores":[{"score":75.04996547553947,"type":"exam"},{"score":10.23046475899236,"type":"quiz"},{"score":96.72520512117761,"type":"homework"}]}\n{"_id":23,"name":"Tamika Schildgen","scores":[{"score":45.65432764125526,"type":"exam"},{"score":64.32927049658846,"type":"quiz"},{"score":83.53933351660562,"type":"homework"}]}\n{"_id":24,"name":"Jesusa Rickenbacker","scores":[{"score":86.0319702155683,"type":"exam"},{"score":1.967495200433389,"type":"quiz"},{"score":61.10861071547914,"type":"homework"}]}\n{"_id":25,"name":"Rudolph Domingo","scores":[{"score":74.75289335591543,"type":"exam"},{"score":38.5413647805495,"type":"quiz"},{"score":35.2554340953413,"type":"homework"}]}\n{"_id":26,"name":"Jonie Raby","scores":[{"score":19.17861192576963,"type":"exam"},{"score":76.3890359749654,"type":"quiz"},{"score":44.39605672647002,"type":"homework"}]}\n{"_id":27,"name":"Edgar Sarkis","scores":[{"score":8.606983261043888,"type":"exam"},{"score":58.71180464203724,"type":"quiz"},{"score":15.33726210596508,"type":"homework"}]}\n{"_id":28,"name":"Laureen Salomone","scores":[{"score":3.677565278992456,"type":"exam"},{"score":7.119462599229987,"type":"quiz"},{"score":82.87308922617427,"type":"homework"}]}\n{"_id":29,"name":"Gwyneth Garling","scores":[{"score":48.36644963899371,"type":"exam"},{"score":10.37827022865908,"type":"quiz"},{"score":93.26639335532833,"type":"homework"}]}\n{"_id":30,"name":"Kaila Deibler","scores":[{"score":15.89771199662455,"type":"exam"},{"score":56.93965183412178,"type":"quiz"},{"score":66.64493295066322,"type":"homework"}]}\n{"_id":31,"name":"Tandra Meadows","scores":[{"score":24.90138146001744,"type":"exam"},{"score":28.8266541837344,"type":"quiz"},{"score":97.16831550665721,"type":"homework"}]}\n{"_id":32,"name":"Gwen Honig","scores":[{"score":87.14345376886205,"type":"exam"},{"score":99.45824441135635,"type":"quiz"},{"score":76.66460454219344,"type":"homework"}]}\n{"_id":33,"name":"Sadie Jernigan","scores":[{"score":73.15861249943812,"type":"exam"},{"score":2.987718065941702,"type":"quiz"},{"score":82.54104198590488,"type":"homework"}]}\n{"_id":34,"name":"Carli Belvins","scores":[{"score":7.112266875518214,"type":"exam"},{"score":67.734668378287,"type":"quiz"},{"score":88.99855402666871,"type":"homework"}]}\n{"_id":35,"name":"Synthia Labelle","scores":[{"score":27.22049103148209,"type":"exam"},{"score":31.28760039265919,"type":"quiz"},{"score":79.23285425688643,"type":"homework"}]}\n{"_id":36,"name":"Eugene Magdaleno","scores":[{"score":73.055900093666,"type":"exam"},{"score":79.85621560462026,"type":"quiz"},{"score":66.09143669040472,"type":"homework"}]}\n{"_id":37,"name":"Meagan Oakes","scores":[{"score":86.06759716616264,"type":"exam"},{"score":79.45097452834857,"type":"quiz"},{"score":28.41090281547689,"type":"homework"}]}\n{"_id":38,"name":"Richelle Siemers","scores":[{"score":34.64373397163318,"type":"exam"},{"score":91.46799649446983,"type":"quiz"},{"score":56.12615074082559,"type":"homework"}]}\n{"_id":39,"name":"Mariette Batdorf","scores":[{"score":0.04381116979284005,"type":"exam"},{"score":90.25774974259562,"type":"quiz"},{"score":65.88612319625227,"type":"homework"}]}\n{"_id":40,"name":"Rachell Aman","scores":[{"score":84.53009035375172,"type":"exam"},{"score":25.25568126160764,"type":"quiz"},{"score":70.42062575402956,"type":"homework"}]}\n{"_id":41,"name":"Aleida Elsass","scores":[{"score":28.02518041693717,"type":"exam"},{"score":95.25243105389065,"type":"quiz"},{"score":68.05980405338909,"type":"homework"}]}\n{"_id":42,"name":"Kayce Kenyon","scores":[{"score":44.62441703708117,"type":"exam"},{"score":27.38208798553111,"type":"quiz"},{"score":97.43587143437509,"type":"homework"}]}\n{"_id":43,"name":"Ernestine Macfarland","scores":[{"score":15.29147856258362,"type":"exam"},{"score":78.40698797039501,"type":"quiz"},{"score":31.03031764716336,"type":"homework"}]}\n{"_id":44,"name":"Houston Valenti","scores":[{"score":98.06441387027331,"type":"exam"},{"score":0.8760893342659504,"type":"quiz"},{"score":15.2177618920215,"type":"homework"}]}\n{"_id":45,"name":"Terica Brugger","scores":[{"score":42.1011312120801,"type":"exam"},{"score":41.73654145887228,"type":"quiz"},{"score":18.91287189072117,"type":"homework"}]}\n{"_id":46,"name":"Lady Lefevers","scores":[{"score":16.89237820123443,"type":"exam"},{"score":65.97505910406456,"type":"quiz"},{"score":48.42527123437286,"type":"homework"}]}\n{"_id":47,"name":"Kurtis Jiles","scores":[{"score":92.96916908741805,"type":"exam"},{"score":22.86854192921203,"type":"quiz"},{"score":31.89793879453222,"type":"homework"}]}\n{"_id":48,"name":"Barbera Lippman","scores":[{"score":35.43490750932609,"type":"exam"},{"score":97.42074160188449,"type":"quiz"},{"score":74.1092960902528,"type":"homework"}]}\n{"_id":49,"name":"Dinah Sauve","scores":[{"score":96.64807532447064,"type":"exam"},{"score":14.56470882270576,"type":"quiz"},{"score":72.00519420743191,"type":"homework"}]}\n{"_id":50,"name":"Alica Pasley","scores":[{"score":19.38544736721771,"type":"exam"},{"score":88.70752686639557,"type":"quiz"},{"score":60.62755218680213,"type":"homework"}]}\n{"_id":51,"name":"Elizabet Kleine","scores":[{"score":86.81245449846962,"type":"exam"},{"score":36.196443334522,"type":"quiz"},{"score":77.94001750905642,"type":"homework"}]}\n{"_id":52,"name":"Tawana Oberg","scores":[{"score":80.59006098671075,"type":"exam"},{"score":93.28438118988183,"type":"quiz"},{"score":93.12134003887978,"type":"homework"}]}\n{"_id":53,"name":"Malisa Jeanes","scores":[{"score":33.44580005842922,"type":"exam"},{"score":7.172746439960975,"type":"quiz"},{"score":80.53328849494751,"type":"homework"}]}\n{"_id":54,"name":"Joel Rueter","scores":[{"score":87.53636893952853,"type":"exam"},{"score":92.70974674256513,"type":"quiz"},{"score":61.79032586247813,"type":"homework"}]}\n{"_id":55,"name":"Tresa Sinha","scores":[{"score":94.93136959210354,"type":"exam"},{"score":72.32226123565266,"type":"quiz"},{"score":77.248768811767,"type":"homework"}]}\n{"_id":56,"name":"Danika Loeffler","scores":[{"score":21.54531707142236,"type":"exam"},{"score":41.75962115078149,"type":"quiz"},{"score":55.70195462204016,"type":"homework"}]}\n{"_id":57,"name":"Chad Rahe","scores":[{"score":40.84572027366789,"type":"exam"},{"score":29.22733629679561,"type":"quiz"},{"score":93.12112348179406,"type":"homework"}]}\n{"_id":58,"name":"Joaquina Arbuckle","scores":[{"score":28.66671659815553,"type":"exam"},{"score":40.48858382583742,"type":"quiz"},{"score":51.51393116681172,"type":"homework"}]}\n{"_id":59,"name":"Vinnie Auerbach","scores":[{"score":95.45508256300009,"type":"exam"},{"score":7.512188017365151,"type":"quiz"},{"score":28.5905754294006,"type":"homework"}]}\n{"_id":60,"name":"Dusti Lemmond","scores":[{"score":17.27725327681863,"type":"exam"},{"score":83.24439414725833,"type":"quiz"},{"score":81.84258722611811,"type":"homework"}]}\n{"_id":61,"name":"Grady Zemke","scores":[{"score":51.91561300267121,"type":"exam"},{"score":50.08349374829509,"type":"quiz"},{"score":95.34139273570386,"type":"homework"}]}\n{"_id":62,"name":"Vina Matsunaga","scores":[{"score":51.38190070034149,"type":"exam"},{"score":34.63479282877322,"type":"quiz"},{"score":46.27059093183421,"type":"homework"}]}\n{"_id":63,"name":"Rubie Winton","scores":[{"score":7.176062073558509,"type":"exam"},{"score":46.32426882511162,"type":"quiz"},{"score":19.24312817599633,"type":"homework"}]}\n{"_id":64,"name":"Whitley Fears","scores":[{"score":89.61845831842888,"type":"exam"},{"score":82.44879156010508,"type":"quiz"},{"score":96.57912148645883,"type":"homework"}]}\n{"_id":65,"name":"Gena Riccio","scores":[{"score":67.58395308948619,"type":"exam"},{"score":67.2413500951588,"type":"quiz"},{"score":42.93471779899529,"type":"homework"}]}\n{"_id":66,"name":"Kim Xu","scores":[{"score":19.96531774799065,"type":"exam"},{"score":17.52966217224916,"type":"quiz"},{"score":57.32983091095816,"type":"homework"}]}\n{"_id":67,"name":"Merissa Mann","scores":[{"score":75.1949733626123,"type":"exam"},{"score":52.56522605123723,"type":"quiz"},{"score":94.67518167209815,"type":"homework"}]}\n{"_id":68,"name":"Jenise Mcguffie","scores":[{"score":40.15210496060384,"type":"exam"},{"score":90.60219950183566,"type":"quiz"},{"score":51.58720341010564,"type":"homework"}]}\n{"_id":69,"name":"Cody Strouth","scores":[{"score":4.784730508547719,"type":"exam"},{"score":99.80348240553108,"type":"quiz"},{"score":97.89665889862901,"type":"homework"}]}\n{"_id":70,"name":"Harriett Velarde","scores":[{"score":33.7733570443736,"type":"exam"},{"score":96.05228578589255,"type":"quiz"},{"score":46.24926696413032,"type":"homework"}]}\n{"_id":71,"name":"Kam Senters","scores":[{"score":81.56497719010976,"type":"exam"},{"score":5.247410853581524,"type":"quiz"},{"score":92.10078400854972,"type":"homework"}]}\n{"_id":72,"name":"Leonida Lafond","scores":[{"score":92.10605086888438,"type":"exam"},{"score":32.66022211621239,"type":"quiz"},{"score":82.15588797092647,"type":"homework"}]}\n{"_id":73,"name":"Devorah Smartt","scores":[{"score":69.60160495436016,"type":"exam"},{"score":6.931507591998553,"type":"quiz"},{"score":55.66005349294464,"type":"homework"}]}\n{"_id":74,"name":"Leola Lundin","scores":[{"score":31.62936464207764,"type":"exam"},{"score":91.28658941188532,"type":"quiz"},{"score":93.71671632774428,"type":"homework"}]}\n{"_id":75,"name":"Tonia Surace","scores":[{"score":80.93655069496523,"type":"exam"},{"score":79.54620208144452,"type":"quiz"},{"score":41.34308724166419,"type":"homework"}]}\n{"_id":76,"name":"Adrien Renda","scores":[{"score":57.24794864351232,"type":"exam"},{"score":19.5118228072558,"type":"quiz"},{"score":70.71043448913191,"type":"homework"}]}\n{"_id":77,"name":"Efrain Claw","scores":[{"score":55.41266579085205,"type":"exam"},{"score":31.30359328252952,"type":"quiz"},{"score":88.73134194093676,"type":"homework"}]}\n{"_id":78,"name":"Len Treiber","scores":[{"score":21.21850173315791,"type":"exam"},{"score":13.2282768150266,"type":"quiz"},{"score":82.49842801247594,"type":"homework"}]}\n{"_id":79,"name":"Mariela Sherer","scores":[{"score":61.20158144877323,"type":"exam"},{"score":52.75657259917104,"type":"quiz"},{"score":90.97004773806381,"type":"homework"}]}\n{"_id":80,"name":"Echo Pippins","scores":[{"score":27.77924608896123,"type":"exam"},{"score":85.1861976198818,"type":"quiz"},{"score":92.50671800180454,"type":"homework"}]}\n{"_id":81,"name":"Linnie Weigel","scores":[{"score":66.0349256424749,"type":"exam"},{"score":67.57096025532985,"type":"quiz"},{"score":38.33608066073369,"type":"homework"}]}\n{"_id":82,"name":"Santiago Dollins","scores":[{"score":33.48242310776701,"type":"exam"},{"score":60.49199094204558,"type":"quiz"},{"score":87.02564768982076,"type":"homework"}]}\n{"_id":83,"name":"Tonisha Games","scores":[{"score":29.13833807032966,"type":"exam"},{"score":35.25054111123917,"type":"quiz"},{"score":66.73047056293319,"type":"homework"}]}\n{"_id":84,"name":"Timothy Harrod","scores":[{"score":93.23020013495737,"type":"exam"},{"score":49.06010347848443,"type":"quiz"},{"score":74.00788699415295,"type":"homework"}]}\n{"_id":85,"name":"Rae Kohout","scores":[{"score":63.86894250781692,"type":"exam"},{"score":55.81549538273672,"type":"quiz"},{"score":59.13566011309437,"type":"homework"}]}\n{"_id":86,"name":"Brain Lachapelle","scores":[{"score":2.013473187690951,"type":"exam"},{"score":45.01802394825918,"type":"quiz"},{"score":88.04712649447521,"type":"homework"}]}\n{"_id":87,"name":"Toshiko Sabella","scores":[{"score":21.05570509531929,"type":"exam"},{"score":26.43387483146958,"type":"quiz"},{"score":42.80331214002496,"type":"homework"}]}\n{"_id":88,"name":"Keesha Papadopoulos","scores":[{"score":82.35397321850031,"type":"exam"},{"score":3.064361273717464,"type":"quiz"},{"score":98.46867828216399,"type":"homework"}]}\n{"_id":89,"name":"Cassi Heal","scores":[{"score":43.04310994985133,"type":"exam"},{"score":0.006247360551892012,"type":"quiz"},{"score":63.88558436723092,"type":"homework"}]}\n{"_id":90,"name":"Osvaldo Hirt","scores":[{"score":67.44931456608883,"type":"exam"},{"score":41.77986504201782,"type":"quiz"},{"score":76.30879472084027,"type":"homework"}]}\n{"_id":91,"name":"Ty Barbieri","scores":[{"score":38.43781607953586,"type":"exam"},{"score":95.70340794272111,"type":"quiz"},{"score":72.80272364761178,"type":"homework"}]}\n{"_id":92,"name":"Ta Sikorski","scores":[{"score":30.02140506101446,"type":"exam"},{"score":23.89164976236439,"type":"quiz"},{"score":61.82907698626848,"type":"homework"}]}\n{"_id":93,"name":"Lucinda Vanderburg","scores":[{"score":27.55843343656866,"type":"exam"},{"score":11.45699271327768,"type":"quiz"},{"score":75.53546873615787,"type":"homework"}]}\n{"_id":94,"name":"Darby Wass","scores":[{"score":6.867644836612586,"type":"exam"},{"score":63.4908039680606,"type":"quiz"},{"score":85.41865347441522,"type":"homework"}]}\n{"_id":95,"name":"Omar Bowdoin","scores":[{"score":8.58858127638702,"type":"exam"},{"score":88.40377630359677,"type":"quiz"},{"score":25.71387474240768,"type":"homework"}]}\n{"_id":96,"name":"Milan Mcgavock","scores":[{"score":69.11554341921843,"type":"exam"},{"score":10.2027724707151,"type":"quiz"},{"score":24.87545552041663,"type":"homework"}]}\n{"_id":97,"name":"Maren Scheider","scores":[{"score":94.4329121733663,"type":"exam"},{"score":77.28263690107663,"type":"quiz"},{"score":59.46326216544371,"type":"homework"}]}\n{"_id":98,"name":"Carli Ector","scores":[{"score":88.18040268522668,"type":"exam"},{"score":60.3111085581054,"type":"quiz"},{"score":96.33612053785647,"type":"homework"}]}\n{"_id":99,"name":"Jaclyn Morado","scores":[{"score":70.27627082122453,"type":"exam"},{"score":56.78470387064279,"type":"quiz"},{"score":47.48518298423097,"type":"homework"}]}\n{"_id":100,"name":"Demarcus Audette","scores":[{"score":47.42608580155614,"type":"exam"},{"score":44.83416623719906,"type":"quiz"},{"score":39.01726616178844,"type":"homework"}]}\n{"_id":101,"name":"Tania Hulett","scores":[{"score":21.84617015735916,"type":"exam"},{"score":53.8568257735492,"type":"quiz"},{"score":79.60533635579307,"type":"homework"}]}\n{"_id":102,"name":"Mercedez Garduno","scores":[{"score":49.52877007656483,"type":"exam"},{"score":44.55505066212384,"type":"quiz"},{"score":81.50869746632009,"type":"homework"}]}\n{"_id":103,"name":"Fleta Duplantis","scores":[{"score":84.37799696030743,"type":"exam"},{"score":15.95792143439528,"type":"quiz"},{"score":77.80745176713172,"type":"homework"}]}\n{"_id":104,"name":"Brittny Warwick","scores":[{"score":69.54399888097534,"type":"exam"},{"score":82.00469934215849,"type":"quiz"},{"score":95.96446106607902,"type":"homework"}]}\n{"_id":105,"name":"Shin Allbright","scores":[{"score":62.28388941877533,"type":"exam"},{"score":85.26863799439475,"type":"quiz"},{"score":88.9947941542333,"type":"homework"}]}\n{"_id":106,"name":"Karry Petrarca","scores":[{"score":3.677125771067413,"type":"exam"},{"score":40.39799056667404,"type":"quiz"},{"score":14.38347127905983,"type":"homework"}]}\n{"_id":107,"name":"Beckie Millington","scores":[{"score":69.52419218194589,"type":"exam"},{"score":24.85411404016219,"type":"quiz"},{"score":34.92039455520659,"type":"homework"}]}\n{"_id":108,"name":"Mikaela Meidinger","scores":[{"score":63.75595052560389,"type":"exam"},{"score":59.52298111997963,"type":"quiz"},{"score":88.66481441499843,"type":"homework"}]}\n{"_id":109,"name":"Flora Duell","scores":[{"score":40.68238966626067,"type":"exam"},{"score":46.77972040308903,"type":"quiz"},{"score":69.29400057020965,"type":"homework"}]}\n{"_id":110,"name":"Nobuko Linzey","scores":[{"score":67.40792606687442,"type":"exam"},{"score":58.58331128403415,"type":"quiz"},{"score":47.44831568815929,"type":"homework"}]}\n{"_id":111,"name":"Gennie Ratner","scores":[{"score":62.74309964110307,"type":"exam"},{"score":92.18013849235186,"type":"quiz"},{"score":53.11174468047395,"type":"homework"}]}\n{"_id":112,"name":"Myrtle Wolfinger","scores":[{"score":73.93895528856032,"type":"exam"},{"score":35.99397009906073,"type":"quiz"},{"score":93.85826506506328,"type":"homework"}]}\n{"_id":113,"name":"","scores":[{"score":77.57315913088024,"type":"exam"

In [ ]:
client = pymongo.MongoClient("mongodb://sneha13:snehathellam@cluster0-shard-00-00.qp3en.mongodb.net:27017,cluster0-shard-00-01.qp3en.mongodb.net:27017,cluster0-shard-00-02.qp3en.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-l0s33q-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.sneha
b_coll = db.student

In [ ]:
requesting = []

with open(r"/content/students.json") as f:
    for jsonObj in f:
        myDict = json.loads(jsonObj)
        requesting.append(InsertOne(myDict))

result = b_coll.bulk_write(requesting)

In [ ]:
sample=[]
for i in b_coll.find():
  sample.append(i)

In [ ]:
import pandas as pd
df=pd.DataFrame(sample)
df=df.drop('scores',axis=1)
df.head()

   _id              name
0    0        aimee Zank
1    1  Aurelia Menendez
2    2       Corliss Zuk
3    3        Bao Ziglar
4    4  Zachary Langlais

In [ ]:
# rows list initialization
rows = []
# appending rows
for data in sample:
	data_row = data['scores']
	time = data['name']
	for row in data_row:

		row['name']= time
		rows.append(row)

# using data frame
df1 = pd.DataFrame(rows)
df1.head()

       score      type              name
0   1.463180      exam        aimee Zank
1  11.782733      quiz        aimee Zank
2  35.874035  homework        aimee Zank
3  60.060451      exam  Aurelia Menendez
4  52.797907      quiz  Aurelia Menendez

In [ ]:
df1=df1.merge(df,on='name',how='inner')

In [ ]:
df1.head()

       score      type        name  _id
0   1.463180      exam  aimee Zank    0
1   1.463180      exam  aimee Zank  114
2  11.782733      quiz  aimee Zank    0
3  11.782733      quiz  aimee Zank  114
4  35.874035  homework  aimee Zank    0

1) Find the student name who scored maximum scores in all (exam, quiz and
homework)?


Answer: aimee Zank

In [ ]:
print(df1[df1.type=='exam'].max())
print(df1[df1.type=='quiz'].max())
print(df1[df1.type=='homework'].max())

score     99.336858
type           exam
name     aimee Zank
_id             199
dtype: object
score     99.803482
type           quiz
name     aimee Zank
_id             199
dtype: object
score     99.772377
type       homework
name     aimee Zank
_id             199
dtype: object

2) Find students who scored below average in the exam and pass mark is 40%?

In [ ]:
qn2=df1.loc[(df1.type=='exam') & (df1.score>=40) & (df1.score<=50)]
qn2.head()

         score  type            name  _id status
60   44.871863  exam  Wilburn Spiess    5   Pass
61   44.871863  exam  Wilburn Spiess  119   Pass
120  45.618769  exam    Denisha Cast   10   Pass
121  45.618769  exam    Denisha Cast  124   Pass
150  40.531369  exam  Quincy Danaher   12   Pass

3) Find students who scored below pass mark and assigned them as fail, and above
pass mark as pass in all the categories.

In [ ]:
df1['status']=np.where(df1['score']<40, "Fail", "Pass")
df1.head()

       score      type        name  _id status
0   1.463180      exam  aimee Zank    0   Fail
1   1.463180      exam  aimee Zank  114   Fail
2  11.782733      quiz  aimee Zank    0   Fail
3  11.782733      quiz  aimee Zank  114   Fail
4  35.874035  homework  aimee Zank    0   Fail

4) Find the total and average of the exam, quiz and homework and store them in a
separate collection.

In [ ]:
qn4=df1.groupby(['type'])['score'].agg(['sum','mean'])
qn4.head()

                   sum       mean
type
exam      18025.764008  48.456355
homework  25276.650877  67.947986
quiz      18296.788175  49.184914

In [ ]:
d1=qn4.to_dict()
d1

{'mean': {'exam': 48.45635486136092,
  'homework': 67.94798622741371,
  'quiz': 49.1849144478276},
 'sum': {'exam': 18025.764008426264,
  'homework': 25276.6508765979,
  'quiz': 18296.788174591868}}

In [ ]:
#creating new collections
c_coll= db.avg_marks

In [ ]:
c_coll.insert_many([d1])

5) Create a new collection which consists of students who scored below average and
above 40% in all the categories.

In [ ]:
qn5=df1.loc[(df1.score>=40) & (df1.score<=50)]
qn5.head()

        score      type            name  _id
40  42.261471  homework      Bao Ziglar    3
41  42.261471  homework      Bao Ziglar  117
60  44.871863      exam  Wilburn Spiess    5
61  44.871863      exam  Wilburn Spiess  119
86  42.487807      quiz    Salena Olmos    7

In [ ]:
d2=qn5.to_dict()

In [ ]:
#creating a new collections
d_coll=db.student

In [ ]:
#d_coll.insert_many([d2])

6) Create a new collection which consists of students who scored below the fail mark
in all the categories.

In [ ]:
qn6=df1.loc[(df1.status=="Fail")]
qn6.head()

       score      type        name  _id status
0   1.463180      exam  aimee Zank    0   Fail
1   1.463180      exam  aimee Zank  114   Fail
2  11.782733      quiz  aimee Zank    0   Fail
3  11.782733      quiz  aimee Zank  114   Fail
4  35.874035  homework  aimee Zank    0   Fail

In [ ]:
qn6['_id']=qn6['_id'].apply(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
d3=qn6.to_dict()

In [ ]:
#creating the new collection
e_coll=db.fail_marks
e_coll.insert_many([d3])

7) Create a new collection which consists of students who scored above pass mark in
all the categories.

In [ ]:
qn7=df1.loc[(df1.score>=40)]
qn7.head()

        score  type              name  _id status
8   96.129538  quiz        aimee Zank    0   Pass
9   96.129538  quiz        aimee Zank  114   Pass
12  60.060451  exam  Aurelia Menendez    1   Pass
13  60.060451  exam  Aurelia Menendez  115   Pass
14  52.797907  quiz  Aurelia Menendez    1   Pass

In [ ]:
d4=qn7.to_dict()
#creating the new collection
f_coll=db.pass_marks
f_coll.insert_many([d4])